body{
    background-color: whitesmoke;
}

.opcoes{
    margin-top: 150px;
}

h1{
    color: #003366;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
}

button{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vh;
    height: 6vh;
    font-size: 50px;
    color: #003366;
    border: solid 1px #003366;
    border-radius: 10px;
    background: linear-gradient(to top, #00336634, #ffffff,  #ffffff);
    color: whitesmoke;
    margin-top: 50px;
}

a{
    text-decoration: none;
    color: #003366;
}